%h1 New Post

- if flash[:notice]
  %h3{style: 'color: red'}= flash[:notice]

= form_for @post do |form|
  %div
    = form.label :title
    = form.text_field :title
  %div
    = form.label :body
    = form.text_area :body
  = form.submit
